.parent{
    border: 2px solid salmon;
    height: 600px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    /* grid-auto-rows: 50px;
    grid-auto-flow: column;
    grid-auto-columns: 50px; */
}

.parent div:nth-of-type(1){
    background-color: red;
}

.parent div:nth-of-type(2){
    background-color: green;
}
.parent div:nth-of-type(3){
    background-color: yellow;
}
.parent div:nth-of-type(4){
    background-color: black;
}
.parent div:nth-of-type(5){
    background-color: purple;
}
.parent div:nth-of-type(6){
    background-color: blue;
}
.parent div:nth-of-type(7){
    background-color: yellowgreen;
}
.parent div:nth-of-type(8){
    background-color: orange;
}
.parent div:nth-of-type(9){
    background-color: pink;
}
.parent div:nth-of-type(10){
    background-color: peru;
}